@{
    ViewData["Title"] = "U San Ramón";
}

<div class="text-center">
    <section id="homeImage">
        <img src="https://images.pexels.com/photos/13991034/pexels-photo-13991034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="h-100 w-100" alt="Universidad de San Ramón">
    </section>
    <section class="pt-5">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">La U de los poetas ✍🏾</p>
    </section>
</div>
